@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400;1,700&display=swap');

/*Reseteamos todo el html*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    text-decoration: none;
}

body{
	font-family: 'Roboto', sans-serif;
	margin-left: 80px;
    margin-top: 80px;
}

.header{
	width: 100%;
	height: 55px;
	background-color: rgb(39, 39, 39);
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 300;
	top:0;
	left: 0;
}

.contenedor-logo{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.contenedor-logo .boton-menu{
	border: none;
	background: none;
	cursor: pointer;
	font-size: 20px;
	border-radius: 100px;
	width: 40px;
	height: 40px;
	align-content: center;
	color: rgb(177, 177, 177);
	margin: 0 15px;
}


/*  Creamos una clase para utilizar con js para el click de los botones, 
	ya que los botones del header cambian de color solo al hacerle click  */

.btn-press{
	background-color: #444;
}

/*---------------*/

.contenedor-logo img{
	width: 30px;
	height: 28px;
	border-radius: 1px;
	border: none;
	background: none;
	margin-top: -3px;
	cursor: pointer;
}

.contenedor-logo .logo{
	font-family: 'Bebas Neue';
	color: white;
	font-weight: 400;
	font-size: 24px;
	margin: 0 3px;
	padding: 25px 0;
	cursor: pointer;
}

.header .barra-busqueda{
	display: flex;
}

.header .barra-busqueda input{
	min-width: 100%;
	padding: 0 15px;
	height: 40px;
	width: 470px;
	line-height: 35px;
	border-radius: 2px;
	border: 1px solid #333;
	background-color: #111;
	color: rgb(255, 255, 255);
	font-size: 15px;
	font-weight: 500;
	font-family: 'Roboto';
}

.header .barra-busqueda .search{
	height: 38px;
	padding: 0 25px;
	background-color: #333;
	border: none;
	color: whitesmoke;
	align-self: center;
	border-radius: 2px;
}

.header .barra-busqueda .micro{
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 15px;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(25, 25, 25);
	border: none;
	color: whitesmoke;
}

.botones-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.botones-header button{
	height: 30px;
	width: 30px;
	margin: 0 10px;
	background: none;
	border: none;
	color: white;
	align-self: center;
	border-radius: 100px;
}

.botones-header .avatar img{
	width: 35px;
	height: 35px;
	border-radius: 100px;
	border: none;
	background: none;
	align-content: center;
	margin: 18px 20px 10px;
}


/* Empezamos con el sidebar */

.sidebar {
	display: flex;
	position: fixed;
	width: 240px;
	height: 100%;
	flex-direction: column;
	padding: 0;
	margin: 0;
	top: 55px;
	left: 0;
	background-color: black;
	align-content: center;
	justify-content: space-between;
    overflow: hidden;
    overflow-y: scroll;
	background-color: rgb(39, 39, 39);
}

/*Chrome, Safari y Opera*/
.sidebar::-webkit-scrollbar{
    display: none;
}

/*Firefox, Explorer, Edge*/
.sidebar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar a{
	padding: 5px 10px;
	align-self: center;
	height: 30px;
	border: 1px black;
}

.sidebar a, label{
	display: block;
	color: #ccc;
	margin: 5px 10px;
	font-family: 'Roboto', 'Sans-serif';
	color: white;
}




/*  Fin Sidebar */



.main{
	margin: 40px 0 0 250px;
}